<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New point of interest</h1>

  <%= render "form", point_of_interest: @point_of_interest %>

  <%= link_to 'Back to point of interests', point_of_interests_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
