<div>
  <h1 class="font-bold text-4xl">StravaRuns#index</h1>
  <p>Find me in app/views/strava_runs/index.html.erb</p>
</div>

<!-- leaflet map, make partial later -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<div id="map" style="width: 100%; height: 1000px"></div>


<script type="text/javascript">
  var map = L.map('map').setView([39.748733, -105.220105], 13);
  L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
      }).addTo(map);
      
      var polyLines = [
        "kyuqFzsgaSI@ED@HC?MBAHNl@b@v@x@nBLRJb@RDh@o@\m@|AqBjAqA|AqAh@g@pByA~@_Az@s@~DcEbB{A`@[l@]A@FA??dAs@dAiAvCqCt@{@`DyCxAoAf@k@\QZYX]hBcB~@s@dCuBvAyAfA_AR@HH`AbCNTN?DOFDKJCK@OADEIBLLGDBQEK[IE_@y@BDAPGJ?FGBS@s@v@I@KMKG?BHDGE@@@CSF}NlIsFnD]X[V~Q{I^k@\o@lBmBn@]\R@Q^G"
        ,"mqsqFj`faS@X?Ig@h@}@p@IGa@gAMMKAOFIJKDSX]XEHQLCHe@^oAlAoAdAc@Zo@h@QHSGGe@Sa@gAiCmAcCQo@KGGKgAeCOUGSKICJ?JHL?j@@z@Ad@E\Wp@w@bAiDtCuAvAa@P]FIFYX]NI?QMq@H{AGc@BgAEF?BNACJFAEAA@BA?CKCBICL??DG?@CEAJ?ABBEG?DBEADAGE@?DB@HGHGAKII?wCTg@?]CI@SC_@Bk@EUBGF]`ASXQv@Cj@?l@Iz@BNEZ_@n@s@`Aa@Tg@TKHY\yA|@APDLLJPFXZDJDd@?d@BTJVNRTr@GXKPUTSLW\SLe@f@CF?HX\l@lAPf@FHFDHIHCDDCAJSB??ECBDA",
        // ,"cwuqFj|faSB??B@ENK@GD@?BACBBBA@CACL]BANFAKDCDQD?NMEBAD@??CDFF?NK@CCGDCFB?EEDAOFGD?AAMLCCGK@AEAILCECHBSAKAH@A?@BCA@C??KA?BDAI@@BA@GBBEBAEDJEHAA@D@EEE?FAKDGAHBACB@F?A@@BCT]t@WH?PKDE@IPK\KBDB?TWRIDIPKFCH?RILCd@YTG?CADB@JMHILEj@ITOLL@RITARB@CHQPQHKCE?OT@LAP[XIDECe@NY\OD]RUXUPIJAAKHYb@CFCAKVe@l@Mj@GNg@VMLu@Pe@Fa@V]LYPMDGAKDORAH@HCL@NDL?JJ`@ABACGF?B@B?EB??DBKD@BBLp@LTENKBQPQf@GLIF@BJDLLBHADb@r@JXP`@@HENGD?JQHKBALBBA@DBBC?@AI?FBICGAB@A@B?A?DB?CHM@GLE?KQ@C@JDIC@@BBAEFC@ACD??CADBFCC?CD@@DF?HKLA@GQHAB@BCAAC@??BKACAB@@CBHB?DIH@@ECCADI@CDE?A@AABMADGC@BCA?@DKB?CFDBC@@A@FC??BD?ACBD?GCEAB?ABDD@JMCA?HEHA?KMDBBAA@@DJIB?CBAEDBBCDB@GEA@E?@CEA?A@AA@EA@?AD?BPK@MFIM@@KD?IBBEKAFHHDA?CEB@CGAJB?CECEDN@JP?INADG@@BA?EIC?FB?CAB@?C"
        // ,"{kuqFdnfaSQIWFMEYBWA]Bg@EKFITE\M\GZMb@Gt@?XEh@IPCJDb@BA@CECGCB?AIC@Gl@Uf@QRYXUHADaAj@iAnA_@LAJJBFNNVN`@@b@H~@FVDLPT\l@?BIJ_@Zq@r@Yj@QPAHJd@P^j@hBD@NMH@?EAAGFME_@i@Se@]q@CWJSXQ^o@dAiADKAMKSGa@OWM[K}@Ok@k@g@e@y@SIWSQ?UMEKAQJc@PSHG@@BAj@q@PKVYVQRi@f@u@DUHADFDCC@GJAWRB?BCA?BU@?LNNFJHA?B@@E@ECCGBMKQ@KGIGCARK\O^s@~@Wh@WFGDa@h@OF]VKT@RJPZPFHZHTXTJn@x@HR@LAPL~@FFJ\f@fA?DCLA?ACE??FGT_@d@IV@HDDDNNZN^NVRd@@HALGFCAEJBHOFI?BFAAB?"
        // ,"_|uqFzrgaSJA?GEEBBCBCISUIQIEAQSUNC?D?CGBMGCB@@HMNELYPGP]E??@HCB@NVFBFEB@@LILJHVj@JB@RLd@DDB?AEEACCAMDLX\GA@@B@c@q@ADHHEBATOLHLUDG@BCAA?NR@?FFDDMAC@GEC?C?KBEAIHE@C?C?DDMF?CDd@t@JZBL\j@HZNMGG?GCDBFGJ@AECCHF@?IBA@@?DE?CO@FDD@GAAA@AEBBA@JA@@GFEIE@J?CBGUUYQg@_@e@Yo@CJ@TIP@NAFWLCCDKABDI@BAGDF?MJGAOJGDG@OUC@BBCH@HJ?@C?EEBHH@AGABE@@@EDB?EEAFG@BFHGGOBK?EAHF@C@@ECGGEE]Lt@IXI?CD@ZMLACDEADCCG?EJGWIQBEDLCHD@GIAJBFABDAHL@AAAIDCGCBD?E?@BFCDNADA@CC@@AGD@@HAG@FAE@BB?AE@DEOAK@E@@A@AAFBCA?E?RB?EEBHDAEC?NCEBKDEGAAB@DAI@GDD?C@D?GCA?DAAJGGHK?CC@FAA@@M[CQIGE@CAA@Ia@S]?C@F?EYk@EAIBAAIBGEC@BDC?B??DDE?U?BB?C?LDBEA?GFDDA?DEJ@HFBNECEKAI@KPO@IPO@G@Qq@oALLDNNR@NJT?AAAAD@G?DD?DBT_@HG@QHA?EB?DCb@IBGCACEBACAB??CFAKCIQGAUy@MSIkBABDA?OWGQ[WSWYu@e@Uc@B[HK?AA?DONS`@q@PODOPOFQ?OCMO_@Ok@ABDDABJRJd@HJFLJ@RQ@Qh@{@DUCWOg@AWGQAWG[A@YI_@D]NM@IAIHK@M[?U?QA@D]HILWNUVo@B?ACTo@@UFQ@A@BFGN}@JGBIB?EGC?FFAC@ENGVLLNRNPDH@PA\Mp@c@j@HV?FVAZLd@L@`@HZGRD`@G\FREXHXEDDDZCXED@J"
        // ,"iyuqFvsgaS@??EBB@AE?DNC?EFK?ED@IKH?BIEGOS[c@eAWg@CI?GLWb@[bBaBX]b@]HALMD@?CABJWt@q@V[j@e@Z]XS`AcArAkA~AkAn@s@z@i@~CcDlC}Bd@g@z@q@`AaAhBaBvCeC~@_Ax@m@p@s@XSJADDXd@FBDLVIf@e@TE{@v@IBOQUe@GSf@]BG?GHG@@CFIDFLD@C?AJBMGG?C?@FJZLQGLDRKV?AAm@CFPMMPT_@WL@hAl@kAo@BDB??ADLEM"
        // ,"mqsqFj`faS@X?Ig@h@}@p@IGa@gAMMKAOFIJKDSX]XEHQLCHe@^oAlAoAdAc@Zo@h@QHSGGe@Sa@gAiCmAcCQo@KGGKgAeCOUGSKICJ?JHL?j@@z@Ad@E\Wp@w@bAiDtCuAvAa@P]FIFYX]NI?QMq@H{AGc@BgAEF?BNACJFAEAA@BA?CKCBICL??DG?@CEAJ?ABBEG?DBEADAGE@?DB@HGHGAKII?wCTg@?]CI@SC_@Bk@EUBGF]`ASXQv@Cj@?l@Iz@BNEZ_@n@s@`Aa@Tg@TKHY\yA|@APDLLJPFXZDJDd@?d@BTJVNRTr@GXKPUTSLW\SLe@f@CF?HX\l@lAPf@FHFDHIHCDDCAJSB??ECBDA"
        // ,"kyuqFzsgaSI@ED@HC?MBAHNl@b@v@x@nBLRJb@RDh@o@\m@|AqBjAqA|AqAh@g@pByA~@_Az@s@~DcEbB{A`@[l@]A@FA??dAs@dAiAvCqCt@{@`DyCxAoAf@k@\QZYX]hBcB~@s@dCuBvAyAfA_AR@HH`AbCNTN?DOFDKJCK@OADEIBLLGDBQEK[IE_@y@BDAPGJ?FGBS@s@v@I@KMKG?BHDGE@@@CSF}NlIsFnD]X[V~Q{I^k@\o@lBmBn@]\R@Q^G"
        // ,"}zuqFplgaSLe@PKNSLI@EWk@c@o@?c@Oc@EU?MDIPKp@[hA]PINDL?LOPIh@MH?BBE?@ACDCCDA@BAG?@AAC@?BB@NSZm@Vq@JKRK@KAGBITULWL?TUD?DCNQP[LGXG^[VGXQNOXMJKHQB?@Kx@aADICIHKNGLCl@X`@@bAJDDH?\Q@IDEDM@DHBPKFIFALMNGRSNI\WX_@XUFMb@[HMNGp@w@LGHOVOV]b@STY\UHKb@a@PS@BPKD@L]DABDTp@?D`@l@DVIL@HRPXf@D?Rr@BDF@JJDj@@GTBGPPb@?CB?I@DGAAC@?EBA?B@GFCBEAIKUJCA@BCBWG[@LAAD@@GGT?LJDNIPCNa@CNONAJA??CAB?HG?OUD@@DNL@?BGA?@DACDA?JFFBNJDPGEEEMAFACILEADDGQABBCA@EIGACBICKIAMKKJM@OM_@KQAI?BNALFCbAELBJAHFJCDREBIA?ADCCHBFHLH@??CGH?CHCCDEK@HB??AC?EHCA?EFGBBEHC?N@ECEFCEDBACCB?CADCCHD@E?@EEA@EOBA@D@AFD@HG@CG?D@A@@?CEB@@CA?DC?BBACD?@CG@D?A@GGKJD?ACA@B??@?E?DDADI@QB@@DE??@B?CAA@AC@@ADBCAFBACA?CAB?CBB?@?EB@CG@B@E?BBACD@AE@ADBFIQB??@@CC@?D?A@@ECBBBCD@A@?EABB@A@AADA?@?C@?EFCCFCAAA@FKJCLBLSACC@?CMDCDI?KJERDI?BACBBAA@EA?BA@HCA@@@AG@FCG@o@CAVBHHD@FGHODDNHH?DKJYNk@h@k@b@KTQHMTODi@^QFMJW\c@VKNa@\[d@m@j@c@d@EBO@MHGEA?BNADMLMDa@`@[f@m@f@KDUT]TMTg@\UZc@XUXMTwAnAY`@iAz@_@Te@f@OHc@`@WNo@t@u@j@OHS\e@`@MPGDQXg@l@QJILALe@j@ERIPKHi@x@KAACWo@Q]ESi@}@KYi@iA?IHC@IBBI??BD@AABA@LCIB@MBB?ACB@C??GJ??C@@NG?CEBIEBA@DBA"
        // ,"obxqFdvdaSFI?SQi@G]M[SKMAsAHMAo@H]EIGI?i@FOJEJMBUEKGOGwALg@IM@FBC?@@BAGEICOAIGy@MYKQAQGSAEBGJ?DCCMDs@DAAKSKAUS{@YQAg@e@WKa@GUDOCW@IDQ?QPUH[TQ?_@Ze@RQLa@J_@TQBMDUP]d@IF@ADAs@lBe@j@UPMXELUh@Kx@DH@JFBBTATGL@NPZNPf@|A^p@FTNRZX\h@FT@\A|@@L@f@C^@HCFE@Ij@IPMx@Ob@E\Mb@MXARO^CZMf@CV?h@Qb@KFCHCDYBg@RO@MOCUMEIMOEKKy@YA@B?[J[?MBAA?CQ?a@QQMi@A]IMGu@@_As@SESMGKWI]QI?B@Ed@?V@HHJd@PHN@^E`@K\EDAD@TDFF@XOHAPFHEHFFN@j@Hv@CLUj@WlA@C@ZK~@?VCV?p@Cf@Nv@Gh@BNA@@n@Eb@@DDDZ?DBZbAC~@BRLb@G\@d@Td@l@l@Xt@NN^r@LZJb@?AANHZLLH@NENKJ?j@XfAv@NPPTDVRVCABERDDE@@A?DARDHHNAn@N\GP@DDJERDNCTBNHNBNHNCZJf@BRRn@FVR`@d@@BA@Rj@XVTJL@HMTUTKH?PDRPPDDL^?TBN?VRP@XIPKXBJCPBPCTRTGNM^c@HC`@EZAhARb@YDAPBRWZCX[@C?B?EHUXIHFDJ?h@BFj@EzAq@n@If@Bv@?RCd@?b@CbADHFDJB^O~@?RCFKFE?AC@ELIDId@}AJUNSPKb@K`@DrBEb@FPFZTTXFRJn@?r@E~@@DTNvA^d@?PENIZYh@m@^[b@WjBk@TMbBaBHCF?FDXj@bA`B?PC?CLQTGl@KTQLYDwBC_A@UDUDQLm@h@GPDDJ@BABDFAJg@R_@JIPERCh@?|CNLCLKN_@Dg@BC@_@Lc@uA}B_@a@CI@Iv@]t@o@Va@n@aBZe@NMtAq@r@Ob@SRKd@c@^o@nAsCP{@~@_APO|@c@REh@CPGdAi@`Aq@TQd@[Z]JGF?JJ\lB`@zABR?PGLgBrA]ZINCRVV~@b@\TV`@d@f@DJDp@PbAVv@Rh@GNa@j@aBxAGL?HDBJXlAhCDBB?@OJMFACBBDECEMDDBCACFCDBAAEBCGIGBFF@CF@CBA?ED@C@?EBC?B?CABEB@DAGB?AC?BAAEFBG?BD@?CCB@AA@DD?GHD?AC@DIC@@CC??DB@BA?DC?@??CCBCC?B"
        

        ]
        
      for (let encoded of polyLines ) {
        var coordinates = L.Polyline.fromEncoded(encoded).getLatLngs();
        
        L.polyline(
            coordinates,
            {
                color: 'blue',
                weight: 3,
                opacity: .7,
                lineJoin: 'round'
            }
        ).addTo(map);
      }
  
</script>

<div id="book_quotes" class="min-w-full">
  <div id='map'></div>
  <!-- /leaflet map, make partial later -->