<div>
  <h1 class="font-bold text-4xl">StravaRuns#index</h1>
  <p>Find me in app/views/strava_runs/index.html.erb</p>
  <p><%= @polylines.first %></p>
  <p><%= @polylines.count %></p>
</div>
<%= content_tag :div, id: "polylines", data: {polyline: @polylines} do %>

  <%= content_tag :p, class: "hello", data: "hi there data" %>
<% end %>

<!-- leaflet map, make partial later -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<div id="map" style="width: 100%; height: 1000px"></div>

<script type="text/javascript">
  
  const polyLines = document.getElementById("polylines").dataset
  console.log(polyLines);
  var temp = polyLines
  console.log(temp);
  for (var i = 0; i < polyLines.length; i++) {
    polyLines[i]
  }
  const polyLinesArray = []
  var map = L.map('map').setView([39.748733, -105.220105], 13);
  L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
      }).addTo(map);
      
  for (let polyline of polyLinesArray ) {
    console.log("polyLinesArray/each");
    console.log(polyline);
    var coordinates = L.Polyline.fromEncoded(polyline).getLatLngs();
    L.polyline(
      coordinates,
      {
          color: 'blue',
          weight: 3,
          opacity: .7,
          lineJoin: 'round'
      }
  ).addTo(map);
  }

</script>

<div id="book_quotes" class="min-w-full">
  <div id='map'></div>
  <!-- /leaflet map, make partial later -->